#header {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

@media (prefers-color-scheme: light) {
    #header {
        background-color: white;
    }
}

@media (prefers-color-scheme: dark) {
    #header {
        background-color: black;
    }
}

#back-button {
    width: 1.75rem;
    height: 1.75rem;
    color: accentcolor;
    background-color: transparent;
    background-image: url("../icons/chevron-left.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 50% 50%;
}

#delete-button {
    color: #ff453a;
    background: none;
}

#card-preview {
    background-color: var(--card-color, #d3d3d3);
    border-radius: 0.75rem;
    width: 100%;
    aspect-ratio: 175 / 128;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333333;
    text-overflow: ellipsis;
    font-size: 1.3em;
    font-weight: 500;
    text-shadow: 0px 0px 4px #FFFFFF88;
}

#barcode {
    max-width: 100%;
}